/*-- scss:defaults --*/

// Layout settings
$border-radius: 0 !default;

/*-- scss:rules --*/

// Logo sizing
.quarto-title-banner .quarto-title .quarto-logo {
  max-height: 4rem;
}

// Header styling
#title-block-header {
  background-color: $brand-blue;
  color: $brand-light;
  padding: 2rem;
  margin-bottom: 2rem;

  .title {
    color: $brand-yellow;
  }

  .subtitle {
    color: $brand-light;
    font-size: 1.3em;
  }

  .author,
  .date,
  .abstract {
    color: $brand-light;
  }
}

// Typography and content styling
main {
  // Link styling
  a {
    color: $brand-blue;
    text-decoration: none;

    &:hover {
      text-decoration-line: underline;
      text-decoration-thickness: 0.12rem;
      text-underline-offset: 0.2rem;
    }
  }

  // List markers in brand blue
  ul li::marker,
  ol li::marker {
    color: $brand-blue;
  }

  // Blockquotes
  blockquote {
    color: $brand-dark;
    font-style: italic;
    border-left: 4px solid $brand-blue;
    padding-left: 1rem;
  }

  // Code block styling
  div.sourceCode {
    border-left: 3px solid $brand-blue;
    margin: 1rem 0;
  }

  // Headings
  h1, h2, h3, h4, h5, h6 {
    color: $brand-navy;
  }
}

// Table of contents
#TOC {
  border-left: 3px solid $brand-blue;

  .active {
    border-left-color: $brand-yellow;
    font-weight: 600;
  }
}

// JDC brand helper classes
// Text color utilities
.text-blue {
  color: $brand-blue;
}

.text-navy {
  color: $brand-navy;
}

.text-green {
  color: $brand-green;
}

.text-yellow {
  color: $brand-yellow;
}

.text-grey {
  color: $brand-grey;
}

// Background color utilities
.bg-blue,
.bg-navy,
.bg-green,
.bg-yellow,
.bg-grey {
  padding: 0.5rem 1rem;
  display: block;
  margin: 1rem 0;
}

.bg-blue {
  background-color: lighten($brand-blue, 45%);
  border-left: 4px solid $brand-blue;
}

.bg-navy {
  background-color: lighten($brand-navy, 60%);
  border-left: 4px solid $brand-navy;
}

.bg-green {
  background-color: lighten($brand-green, 45%);
  border-left: 4px solid $brand-green;
}

.bg-yellow {
  background-color: lighten($brand-yellow, 30%);
  border-left: 4px solid $brand-yellow;
}

.bg-grey {
  background-color: lighten($brand-grey, 45%);
  border-left: 4px solid $brand-grey;
}

// Callouts
.callout {
  border-left-width: 4px;

  &.callout-note {
    border-left-color: $brand-blue;
  }

  &.callout-warning {
    border-left-color: $brand-yellow;
  }

  &.callout-important {
    border-left-color: $brand-red;
  }

  &.callout-tip {
    border-left-color: $brand-green;
  }
}

// Tables
table {
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: $brand-blue;
    color: $brand-light;

    th {
      padding: 0.75rem;
      text-align: left;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid lighten($brand-grey, 30%);

      &:nth-child(even) {
        background-color: lighten($brand-blue, 48%);
      }

      td {
        padding: 0.75rem;
      }
    }
  }
}

// Footer
footer {
  border-top: 2px solid lighten($brand-dark, 70);
  margin-top: 2rem;
  padding-top: 1rem;
  color: $brand-grey;
}
